@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans TC", sans-serif;
}

.btn-click {
  transition-duration: 0.2s;
}
.btn-click:active {
  transition-duration: 0.1s;
  transform: scale(0.98);
}



/* for mermaid */
.mermaid .labelBkg {
    background-color: transparent !important;
}

.mermaid .edgeLabel p {
    background-color: transparent !important;
    color: inherit !important;
}